body {
  margin: 0;
  padding: 0;
  background-color: #17a2b8;
  height: 100vh;
}
#login .container #login-row #login-column #login-box {
  margin-top: 20px;
  max-width: 600px;
  height: 320px;
  border: 1px solid #9C9C9C;
  background-color: #EAEAEA;
}
#login .container #login-row #login-column #login-box #login-form {
  padding: 20px;
}
#login .container #login-row #login-column #login-box #login-form #register-link {
  margin-top: -85px;
}

.div-body{
	border: 1px solid transparent;
	width: 100%;
	height: 100%;
	background-color: transparent;
}

.div-main-body{
	border: 1px solid transparent;
	height: 95px;
	padding: 10px;
}

.div-header{
	margin: 1px solid transparent;
	color: white;
}
.div-header h1{
	color: blue;
	font-family: sans serif, arial;
}

.div-titles{
	margin-bottom: 0; 
	border: 1px solid transparent; 
	background-color: #DAA520;
	width: 50%; margin: auto; 
	padding: 50px 10px 10px 10px;
	text-align: center;
}

.div-main{
	border: 1px solid transparent; 
	background-color: orange;
	width: 50%; 
	margin: auto; 
	padding: 50px 10px 60px 10px
}

.div-form{
	border: 1px solid transparent; 
	background-color: #EEE8AA;
	width: 60%;
	height: 400px; 
	margin: auto; 
	padding: 10px;
	padding-bottom: 400px;
}

.div-3-elements{
	border: 1px solid transparent;
	height: 80px;	
	width: 100%;
}

.div-2-links{
	border: 1px solid transparent;
	width: 90%;
	margin: auto;
	display: flex;
	color: white;
	margin-bottom: 10px;
}

.div-novo-cadastro{
	border: 1px solid transparent;
	width: 40%;
	margin: auto;
	text-align: center;
}

.div-recuperar-senha{
	border: 1px solid transparent;
	width: 40%;
	margin: auto;
	text-align: center;
}

.div-input-entrar{
	border: 1px solid transparent;
	width: 70px;
	margin: auto;
}

.seja-bem-vindo{
	border: 1px solid transparent;
	height: 100px;	
	width: 100%;
	text-align: center;
	padding-top: 25px; 
}

.email{
	border: 1px solid transparent;
	height: 100px;
	width: 80%;	
	margin: auto;
}

.senha{
	border: 1px solid transparent;
	height: 100px;	
	width: 80%;
	margin: auto;
	padding-top: 0;
}

.div-footer{
	width: 50%;
	border: 1px solid transparent;
	background-color: #B8860B;
	margin: auto;
	text-align: center;
	padding-top: 2%;
	padding-bottom: 1%;
}

.div-2-quad{
	border: 1px solid transparent;
	height: 120px;
	width: 90%;
	margin: auto;
	display: flex;
}

.div-quad{
	border: 1px solid transparent;
	background-color: white;
	height: 120px;
	width: 50%;
	margin: auto;
	text-align: center;
	padding-top: 15%; 
	background-color: #20B2AA;
	color: white;
	text-transform: uppercase;
}

.div-quad a:link {
   color: white;
   text-decoration: none;
}

.div-quad a:hover {
    color: #000000;
}

.div-quad a:active {
    color: green;
}

.todos{
	background-color: #4B0082;
}

.cadastrar{
	background-color: #8B008B;
}

.atualizar{
	background-color: #DC143C;
}

.deletar{
	background-color: #8B0000;
}

.div-4-quad{
	background-color: orange;
}

.div-main-home{
	background-color: #EEE8AA;
}

.div-voltar-sair{
	display: flex;
	width: 90%;
	border: 1px solid transparent;
	margin: auto;
	text-align: center;
	color: #8B4513;
}

.voltar{
	border: 1px solid transparent;
	background-color: #B8860B;
	width: 15%;
	height: 30px;
	margin-top: 10px;
}

.div-separacao{
	border: 1px solid transparent;
	width: 70%;
	height: 30px;
	margin-top: 10px;
}

.sair{
	border: 1px solid transparent;
	background-color: #B8860B;
	width: 15%;
	height: 30px;
	margin-top: 10px;
}

.div-voltar-sair a:link {
   color: white;
   text-decoration: none;
}

.div-voltar-sair a:hover {
    color: #000000;
}

.div-voltar-sair a:active {
    color: green;
}

