<!doctype html>
<html lang="pt-br">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<title>Desafio TechLead</title>
</head>

<body>

	<div style="border: 1px solid black; width: 90%; margin: auto; padding: 10px">

		<div
			style="margin-bottom: 50px; border: 1px solid transparent; width: 50%; margin: auto; padding: 10px; text-align: center">
			<h1>Desafio TechLead</h1>
			<h2>Analista Desenvolvedor</h2>
			<h3>Java Spring</h3>
			<h4>Rômulo Albuquerque</h4>
		</div>

		<div style="border: 1px solid black; width: 70%; margin: auto; padding: 10px">

			<h1 style="text-align: center; font-size: 18pt">Cadastrar Usuário</h1>

			<form action="">

				<div class="mb-3">
					<label for="exampleFormControlInput1" class="form-label">Nome: </label>
					<input type="text" class="form-control" id="firstName" placeholder="Nome">
				</div>

				<div class="mb-3">
					<label for="exampleFormControlInput1" class="form-label">Sobrenome: </label>
					<input type="text" class="form-control" id="lastName" placeholder="Sobrenome">
				</div>

				<div class="mb-3">
					<label for="exampleFormControlInput1" class="form-label">E-mail: </label>
					<input type="text" class="form-control" id="email" placeholder="E-mail">
				</div>

				<div class="mb-3">
					<label for="exampleFormControlInput1" class="form-label">Senha: </label>
					<input type="password" class="form-control" id="password" placeholder="Senha">
				</div>

			</form>
			<button type="button" class="btn btn-primary" onclick="saveUser()">Salvar</button>

		</div>

	</div>



	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
		crossorigin="anonymous"></script>

	<script src="https://code.jquery.com/jquery-3.6.0.min.js"
		integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

	<script type="text/javascript">
		function saveUser(){
			var firstName = $("#firstName").val();
			var lastName = $("#lastName").val();
			var email = $("#email").val();
			var password = $("#password").val();
			
			alert("Olá "+firstName+" "+lastName+". Seja Bem Vindo!");
		}
	</script>
</body>

</html>